<div>
	<div class="text-gray-700 my-1">
		Are you sure you want to delete your post from
		<span class="font-bold">{{ post.created_at | date }}</span>?
	</div>
	<form action="/posts/{{ post.id }}/delete" method="POST">
		<div class="flex justify-center mt-2">
			<button type="submit" class="mx-1 bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-full">Delete</button>
			<button type="button" class="mx-1 bg-gray-400 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded-full" onclick="closePopup()">Cancel</button>
		</div>
	</form>
</div>
